{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header id="header" class="header">
        <div class="main-header">
            <ul>
                <li><a href="{% url 'contact:contact' %}">contact</a></li>
                <li><a href="{% url 'products:products' %}">products</a></li>
                <li><a href="{% url 'contact:contact' %}">contact</a></li>
                <li><a href="{% url 'about:about' %}">about</a></li>
                <li><a href="{% url 'blog:posts' %}">blog</a></li>
                {% if user.is_authenticated  %}
                <li><form action="{% url 'accounts:logout' %}" method="post">{% csrf_token %} <button type="submit">logout</button></form></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">login</a></li>
                <li><a href="{% url 'accounts:signup' %}">signup</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>